.visual h1 {
  text-align: center;
}
.visual {
  width: 100%;
  min-height: 80vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  border: 1px solid black;
  padding: 1rem 2rem;
  margin: 15rem 50rem;
  border: 1px solid aqua;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}
